#window{
    margin-top: 50px;
    background-color: rgb(40, 240, 14);
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(240, 9, 9);
}
.swapbox_select {
    width: 50%;
    float: left;
}
.swapbox{
    overflow: auto;
    margin: 20px 0;
    padding: 20px;
    background-color: #2f2f2f;
    border-radius: 20px;
    border: 1px solid #ee0909;
}
.token_select{
    padding:5px 0;
}
.token_select:hover{
    background-color: #b8f70e;
    cursor: pointer;
    
}
.token_list_img, .token_image{
    width: 40px;
}
.modal-body{
    height: 600px;
    overflow: scroll;
}
.token_row{
    padding: 5px 10px;
}
.token_row:hover{
    background-color: #8eb7f5;
    cursor: pointer;
}
